<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>General Knowledge Bot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='js/language-switcher.js') }}"></script>
</head>

<body class="main">
    <!-- Top navbar -->
    <div class="top">
        <!-- Logo -->
        <a href="/en/home">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        </a>
        <!-- Language switcher -->
        <select id="languageSwitcher">
            <option value="en"><span>&#x1F1EC;&#x1F1E7;</span> English</option>
            <option value="fr"><span>&#x1F1EB;&#x1F1F7;</span> Français</option>
            <option value="nl"><span>&#x1F1F3;&#x1F1F1;</span> Nederlands</option>
        </select>
    </div>

    <!-- Main content -->
    <div class="content">
        <div id="gkb">
            <h1>General Knowledge Bot</h1>
            <!-- Profile photo -->
            <img src="{{ url_for('static', filename='images/gkb.png') }}" alt="Profile photo" id="gkb-profile">
            <!-- Invite button -->
            <a href="https://discord.com/api/oauth2/authorize?client_id=803979491373219840&permissions=8&scope=bot%20applications.commands" id="gkb-invite">
                Invite the bot
            </a>
            <p id="gkb-description">General Knowledge Bot is a bot discord about general knowledge. It offers many features and commands to test
                your general knowledge with your server members. Each time a member uses a test command, he earns points if
                he answers correctly and loses points in the oposite case. These points and other options are saved in a
                database. For more information, please refer to our <a href="gkb/terms-of-services">terms of services</a>
                and <a href="gkb/terms-of-services">privacy policy</a>.</p>
        </div>
        <div id="gkb-infos">
            
        </div>
    </div>
   

    <!-- Bottom navbar -->
    <div class="bottom">
        <p>© 2023 Byp Studio</p>
        <a href="gkb/terms-of-services">Terms of services</a>
        <a href="gkb/privacy-policy">Privacy policy</a>
    </div>
</body>

</html>